.profile-container {
  background-color: var(--profile-background-color);
  height: 100%;
  width: 100%;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
